* {
    border: 2px dashed #cc7a00;
}

body { padding-bottom: 70px; 
background-color:green;
}
p:first-child {
    font-family:cursive;
}
p:nth-child(2) {
    font-family:Tahoma;
}
p:nth-child(3) {
    color:#CC0000;
}
p:nth-child(4) {
    background-color:#00FF00;
}
p:nth-child(5) {
    font-size:22px;
}
.navbar-nav{
  padding-right: 200px;
  font-size: 16px;
}
p{
  letter-spacing: 0.2em;
  line-height: 32px;
  word-spacing: 0.05em;
  color: #444444;
  line-height: 32px;
  font-fmily:Vivaldi, cursive;
  /*font-family: 'Raleway', sans-serif;*/
  font-size: 20px;
  text-align:left;
}
a {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.page-description {
  border: 1px solid white;
  padding:30px
}

.container{
  /*background:#131339;*/
  background-color:#cc7a00;
  border: 4px solid blue;
  border-radius: 18px;
  margin: 20px 1px 1px 1px; 
  padding: 55px 35px 55px 25px; 
  height:auto;
  box-shadow: 30px 10px 5px #888888;
}
.homeImage{
  background:blue;
  height:auto;
}

form {
		}

			form label {
				display: block;
			}

			form input[type="text"],
      form input[type="name"],
			form input[type="email"],
			form input[type="password"],
			form select,
			form textarea {
				display: block;
				width: 80%;
				padding: 0.65em 0.75em;
				background:none;
				border: solid 4px rgba(185,186,187,0.25);
				color:inherit;
				border-radius: 0.7em;
				outline: none;

				-moz-appearance: none;
				-webkit-appearance: none;
				-o-appearance: none;
				-ms-appearance: none;
				appearance: none;

				-moz-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
				-webkit-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
				-o-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
				-ms-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
				transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
			}
			

			form ::-webkit-input-placeholder {
				color: rgba(145,146,147,0.85) !important;
			}

			form :-moz-placeholder {
				color: rgba(145,146,147,0.85) !important;
			}

			form ::-moz-placeholder {
				color: rgba(145,146,147,0.85) !important;
			}

			form :-ms-input-placeholder {
				color: rgba(145,146,147,0.85) !important;
			}

			form ::-moz-focus-inner {
				border: 0;
			}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top:20px;
}

.gallery-item {
  margin: 20px;
  border: 5px solid #FFF;

}

.gallery-item .thumbnail {
border: 5px solid #fff;
}
.SelectImage{
  padding-left:140px;
}
.SelectImage li {
  margin:0;
  padding: 0 0 0 20px;
  display:inline;
}

.SelectImage ul {
  display: inline;
}

.contact-btn {
float:right;
margin-right:180px;
}

.contact-btn a {
  margin-right: 30px;
  cursor: pointer;
  margin-right: 30px;
  padding: 8px 18px;
  border: 1px solid #204156;
  position: relative;

}

.contact-btn a:active {
  position: relative;
  bottom: 2px;
  top: 2px;
}

.SelectImage a {
  height: 60px;
  line-height: 60px;
  color: #204156;
  text-decoration: none;
}

footer .row {
  display: flex;
  align-items: center;
}
footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}

